@import "tailwindcss";

@theme {
  --font-sans: var(--font-vazir), ui-sans-serif, system-ui, sans-serif;

  --color-brand-50: #f7f0fc;
  --color-brand-100: #eddcf8;
  --color-brand-200: #dbbcf0;
  --color-brand-300: #c393e4;
  --color-brand-400: #a865d3;
  --color-brand-500: #8a3cbd;
  --color-brand-600: #732aa3;
  --color-brand-700: #5f1f8a;
  --color-brand-800: #4b186c;
  --color-brand-900: #38124f;
}

body {
  background: #e9e5f0;
  color: #1e1b29;
}

/* مخفی کردن اسکرول‌بار برای ردیف‌های افقی */
.no-scrollbar {
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
